.own1{
    width: 300px;
    height: 350px;
}
.own2{
    width: 500px;
    height: 500px;
}
a {
    color: black;
    text-decoration: none; /* no underline */
}

.bg{
    /*background-color: black ;*/
}

/*

Fading out effect
*/


.menu:hover .menu__link:not(:hover){
    color: #241c69;
}

/*

Styles for the menu

*/

/* core styles */

.menu__list{
    display: flex;
    text-align: center;
    padding-left: 0;
    margin-top: 0;
    margin-bottom: 0;
    list-style: none;
}

.menu__group{
    flex-grow: 1;
}

.menu__link{
    display: block;
}

/* skin */

.menu{
    background-color: black;
    box-shadow: 0 1px 3px 0 rgba(0, 0, 0, .12), 0 1px 2px 0 rgba(0, 0, 0, .24);
}

.menu__link{
    padding: 2rem 1.5rem;

    font-weight: 700;
    color: #fff;
    text-decoration: none;
    text-transform: uppercase;
}

/* states */
.menu__link:focus{
    outline: 2px solid #fff;
}

/* hover animation */

.menu__link{
    position: relative;
    overflow: hidden;

    will-change: color;
    transition: color .25s ease-out;
}

.menu__link::before,
.menu__link::after{
    content: "";
    width: 0;
    height: 3px;
    background-color: red;

    will-change: width;
    transition: width .1s ease-out;

    position: absolute;
    bottom: 0;
}

.menu__link::before{
    left: 50%;
    transform: translateX(-50%);
}

.menu__link::after{
    right: 50%;
    transform: translateX(50%);
}

.menu__link:hover::before,
.menu__link:hover::after{
    width: 100%;
    transition-duration: .2s;
}



/*@media (min-width: 768px){*/

/*    html{*/
/*        font-size: 62.5%;*/
/*    }*/
/*}*/

/*@media (max-width: 767px){*/

/*    html{*/
/*        font-size: 50%;*/
/*    }*/
/*}*/

body{
    font-family: Montserrat, 'Montserrat', sans-serif;
    font-size: 1.6rem;
    margin: 0;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
}